[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
networkx = "*"
matplotlib = "*"
requests = "*"
beautifulsoup4 = "4.12.3"
lz4 = "*"

[dev-packages]
black = "==24.10.0"
flake8 = "==7.1.1"
flake8-import-order = "==0.18.2"

[requires]
python_version = "3.13"
